.header_container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 5px -1px rgba(0, 0, 0, 0.75);
}

.header_container_image {
  margin-bottom: 5px;
  width: 51px;
  height: 32px;
}

.container_accordion {
  display: flex;
  justify-content: center;
  flex-direction: column;
    padding-left: 15px;
  padding-right: 15px;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.user_blocked {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
}

.accordion_space {
  margin-bottom: 10%;
}

.container_accordion_title {
  font-size: 16px;
  font-weight: bold;
}

.container_accordion_maps {
  width: 287px;
  height: 212px;
}

.container_accordion_subtitle {
  font-size: 14px;
  font-weight: bold;
  color: #4f4f4f;
}
.current_distribution_container{
  height: 100vh;
  width: 100vw;
}
.container_accordion_subtitle_details {
  font-weight: normal;
}

.container_button {
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-bottom: 10px;
}

.button {
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
  color: #ffffff;
  border-radius: 5px;
}
