.addIconContainer {
  position: fixed;
  bottom: 2%;
  right: 5%;
}

.box {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.subtitle {
  margin-left: 5%;
  font-size: 12px;
  margin-bottom: 2%;
}

.title {
  font-weight: bold;
  font-size: 16px;
}

.addIcon{
display: flex;
align-items: center;
justify-content: center;
}

.containerManagePackages{
   height: 100vh;
    width: 100vw
}
