.title {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto';
}

.userInfo {
  font-size: 18px;
  font-weight: 700;
  font-family: 'Roboto';
  margin-right: 2%;
}
.userInfoContent {
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto';
}
.boxInfo {
  display: flex;
  justify-content: center;
}

.boxInfoMost {
  display: flex;
  flex-direction: column;
}

.box {
  margin-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 15px;
}
