.BoxwordAdd{
  align-items: center;

}

.BoxOfCheckbox{
  display: flex;
  margin-top: 1%;
}
.ButtonApp{
  margin-top: 5%;
}
.wordTittle{
    
    text-align: center;
    font-weight: 300;
}
.wordText{
    margin-top: 22px;
    margin-bottom: 20px;
    margin-left: 15px;
     font-weight: 400;
     font-size: 17px;
}
.wordTextTrue{
    margin-left: 2px;
     font-weight: 300;
     font-size: 16px;
}


.BoxSwitches{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.buttonLoading{
  display: flex;
  justify-content: center;
  margin-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
}